antlr aopalliance apache-httpclient asm avalon-framework backport-util-concurrent biz cglib ch classworlds cn com commons-beanutils commons-chain commons-cli commons-codec commons-collections commons-dbcp commons-digester commons-fileupload commons-httpclient commons-io commons-lang commons-logging commons-pool commons-validator de dom4j el-api el-ri io javassist javax jaxen jdo jdom jexcelapi joda-time jtidy junit log4j logkit myeclipse myeclipse-reports mysql net nz ognl org oro plexus redis saxon slide sslext velocity wsdl4j-1 xalan xerces xml-apis xml-resolver xmlpull xmlunit xom xpp3
